<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Barbeiro:</strong>
    <%= agendamento.barbeiro.nome %>
  </p>

  <p>
    <strong>Cliente</strong>
    <%= agendamento.cliente.nome %>
  </p>
  <p>
    <strong>Atendimento:</strong>
    <%= agendamento.initAtendimento %>
  </p>

  <p>
    <strong>Fim Atendimento:</strong>
    <%= agendamento.fimAtendimento %>
  </p>

</div>
